.main-page-button {
  all: unset;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Creates 3 equal-width columns */
  grid-gap: 2rem;
  /* Space between grid items */
}

.grid-item:active {
  transform: scale(0.95);
  color: #286BEB;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.create-new-room-link {
  color: #286BEB;
}

.invisible {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: default;
  box-shadow: none;
}

.no-border {
  border: none;
  box-shadow: none;
}

.erase-icon {
  width: 40px;
  height: 40px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background-color 0.25s ease;
  /* Smooth Transition */
}

.circle.disabled {
  background-color: #797979;
  /* Not coloured */
}

.circle.enabled {
  background-color: #286BEB;
  /* Coloured inside */
}

.main-page-create-link {
  text-decoration: none !important;
  font-weight: 200;
  font-size: 0.8rem;
}

.enter-code-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}


#ton-connect-button {
  margin-top: 1rem;
}

.main-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.numpad {
  margin-top: 5rem;

}


.numpad-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
