/* text */
.room-page-no-members {
  text-align: center;

  font-size: 2rem;
  font-weight: bold;

  color: #d5d5d5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.room-page-name {
}

.room-page-member {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.room-page-wrapper {
  padding: 0 1rem;
}

.tonconnect-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-members-amount {
  font-weight: 200;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.room-page-name-wrapper {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background: #000000;
}

.room-page-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.members-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.room-page-member {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1rem;
}

.room-page-member-emoji {
  padding: 0.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.room-page-admin-controls {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.room-page-admin-controls-split-sum {
  /* margin: 1rem; */
  color: rgb(118, 118, 118);

  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1rem;
  width: 50%;
  box-sizing: border-box;
}

.room-page-admin-controls-amount-input {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1rem;
  width: 50%;
  box-sizing: border-box;
}
