:root {
  --tg-theme-bg-color: #efeff3;
  --tg-theme-button-color: #2eaddc;
  --tg-theme-button-text-color: white;
}

.app-wrapper {
  max-width: 900px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  height: 100vh;
}


body {
  box-sizing: border-box;
  margin: 0;
}


